<nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Openstack</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {% if session.logged_in %}
            <li><a href="/image">Images</a></li>
            <li><a href="/network">Networks</a></li>
            <li><a href="/volume">Volumes</a></li>
            <li><a href="/instance">Instances</a></li>
            {% endif %}
          </ul>
            <ul class="nav navbar-nav navbar-right">

              {% if session.logged_in %}
              <li><a href="/createimage">Create Image</a></li>
              <li><a href="/form">Create Instance</a></li>
              <li><a href="/logout">Logout</a></li>
              {% else %}
              <li><a href="/login">Login</a></li>
              {% endif %}

          </ul>
        </div>


        <!--/.nav-collapse -->
      </div>
    </nav>