{% extends 'layout.html' %}

{% block body %}
{% from "static/_formhelper.html" import render_field %}
<form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
     <label for="ïnputFile">Choose Image</label>
        <input type="file"  name="inputFile">

    </div>
    <div class="form-group">
        {{render_field(form.diskformat,class_="form-control")}}

    </div>
    <div class="form-group">
        {{render_field(form.imagename,class_="form-control")}}

    </div>

    <div class="form-group">
        {{render_field(form.scode,class_="form-control")}}

    </div>
    <button name="button" value="Create" class="btn btn-primary" type="submit">CREATE</button>

</form>
{% endblock %}