{% extends 'layout.html' %}

{% block body %}
{% from "static/_formhelper.html" import render_field %}
<form method="post" action="">
    <div class="form-group">
         {{render_field(form.fname,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.lname,class_="form-control")}}

    </div>
    <div class="form-group">
        {{render_field(form.iname,class_="form-control")}}

    </div>

    <div class="form-group">
        {{render_field(form.nname,class_="form-control")}}

    </div>
    <div class="form-group">
        {{render_field(form.scode,class_="form-control")}}

    </div>
    <input type="submit" class="btn btn-primary" value="Create">
</form>
{% endblock %}