{% extends 'layout.html' %}

{% block body %}

<h1>Images</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">Disk_format</th>
      <th scope="col">Size</th>
        <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>
  {% for i in range(data1['images']|length) %}
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{data1['images'][i]['name']}}</td>
      <td>{{data1['images'][i]['id']}}</td>
      <td>{{data1['images'][i]['disk_format']}}</td>
      <td>{{data1['images'][i]['size']}}</td>
      <td>{{data1['images'][i]['status']}}</td>
    </tr>
   {% endfor %}

  </tbody>
</table>
{% endblock %}