{% extends 'layout.html' %}

{% block body %}

<h1>Instances</h1>
  <form action="#" method="post">

<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">STATUS</th>
      <th scope="col">Operations</th>

    </tr>
  </thead>

  <tbody>


  {% for i in range(data1['servers']|length) %}
  <tr>
  <th scope="row">{{i}}</th>
  <td>{{data1['servers'][i]['name']}}</td>
  <td>{{data1['servers'][i]['id']}}</td>
    <td>{{data1['servers'][i]['status']}}</td>
  <td>
    <button name="delete" value="{{i}}" class="btn btn-danger" type="submit">DELETE</button>
  </td>
  </tr>
  {% endfor %}

  </tbody>
</table>
    </div>
      </form>
{% endblock %}