{% extends 'layout.html' %}

{% block body %}

<h1>Networks</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Provider:network_type</th>
      <th scope="col">ID</th>
      <th scope="col">Router:external</th>
        <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>
  {% for i in range(data1['networks']|length) %}
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{data1['networks'][i]['name']}}</td>
      <td>{{data1['networks'][i]['provider:network_type']}}</td>
      <td>{{data1['networks'][i]['id']}}</td>
      <td>{{data1['networks'][i]['router:external']}}</td>
      <td>{{data1['networks'][i]['status']}}</td>
    </tr>
   {% endfor %}

  </tbody>
</table>
{% endblock %}