{% extends 'layout.html' %}

{% block body %}

<h1>Volumes</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">SIZE</th>
      <th scope="col">BOOTABLE</th>
        <th scope="col">STATUS</th>

    </tr>
  </thead>
  <tbody>
  {% for i in range(data1['volumes']|length) %}
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{data1['volumes'][i]['id']}}</td>
      <td>{{data1['volumes'][i]['name']}}</td>
      <td>{{data1['volumes'][i]['size']}}</td>
      <td>{{data1['volumes'][i]['bootable']}}</td>
      <td>{{data1['volumes'][i]['status']}}</td>
    </tr>
   {% endfor %}

  </tbody>
</table>
{% endblock %}